section.sec-slide.text-left

  h3.text-left Agenda

  ul
    // - with 4br@@0
    li.fragment Nativos X Híbridos
  
    // Slide 9-10 -  with m@br and slide 12 with 4br@@0
    li.fragment Apache Cordova

    // - with m@br
    li.fragment O Ionic

    // - with 4br@@0
    li.fragment Componentes

    // - with m@br
    li.fragment Ferramentas

    // - with 4br@@0
    li.fragment Alguns números :)

    // - with m@br
    li.fragment Por onde começar?
