section

  section.sec-slide.left

    h3.left Agenda

    ul

      li.fragment Paradigmas?
      li.fragment A programação funcional
      li.fragment Os problemas do presente
      li.fragment Resolvendo os problemas do presente
      li.fragment Alguns casos
      li.fragment Um pouco de história
      li.fragment O futuro
      li.fragment Por onde começar?

  section.sec-slide(data-background="#d35400")

    h1.white Em resumo...

  section.sec-slide.left

    h3.left Agenda

    ul

      li.fragment Passado
      li.fragment Presente
      li.fragment Futuro
