section.sec-slide.text-left
  h3.text-left Agenda
  ul
    li.fragment Nativos X Híbridos
    // Slide 9
    li.fragment Apache Cordova
    // Slide 13
    li.fragment O Ionic
    li.fragment Componentes
    li.fragment Ferramentas
    li.fragment Por onde começar?
    li.fragment Alguns números :)
