section

  section.sec-slide(data-background="#d35400")

    h1.white.fragment Alguém usa?

  section.sec-slide

    h1.white.fragment Alguém usa?

  section.sec-slide(data-background="#d35400")

    h2.white.fragment High-Order Functions

  section.sec-slide(data-background="#d35400")

    h2.white.fragment Pure Functions

