section

  section.sec-slide(data-background="#d35400")

    h1.white.upper Alguém usa?

  section.sec-slide

    img(src="images/cases/use_cases.png", alt="Só universidades...")

  section.sec-slide(data-background="#2c3e50")

    h1.white.upper Haskell

  section.sec-slide

    .col-3.fragment
      img(src="images/cases/facebook.png", alt="Facebook")
      p Facebook
    .col-3.fragment
      img(src="images/cases/google.png", alt="Google")
      p Google
    .col-3.fragment
      img(src="images/cases/microsoft.png", alt="Microsoft")
      p Microsoft

  section.sec-slide.left

    h3 E mais...

    ul

      li.fragment AT&T, na divisão de Segurança de Rede
      li.fragment Intel, em pesquisas envolvendo paralelismo multicore em escala
      li.fragment The New York Times, onde foi usado no processamento de imagens de grande eventos
      li.fragment NVIDIA, em uma grande quantidade de ferramentas internas

  section.sec-slide(data-background="#2c3e50")

    h1.white.upper Erlang

  section.sec-slide

    .col-3.fragment
      img(src="images/cases/facebook.png", alt="Facebook")
      p Facebook
    .col-3.fragment
      img(src="images/cases/github.png", alt="Github")
      p Github
    .col-3.fragment
      img(src="images/cases/whatsapp.png", alt="WhatsApp")
      p WhatsApp

  section.sec-slide.left

    h3 E mais...

    ul

      li.fragment Delicious, que tem mais de 5 milhões de usuários e mais de 150 milhões de bookmarks
      li.fragment Amazon SimpleDB, o serviço de dados do poderoso Amazon EC2
      li.fragment Motorola
      li.fragment CouchDB
      li.fragment Ericsson

  section.sec-slide(data-background="#2c3e50")

    h1.white.upper Scala

  section.sec-slide

    .col-3.fragment
      img(src="images/cases/linkedin.png", alt="LinkedIn")
      p LinkedIn
    .col-3.fragment
      img(src="images/cases/foursquare.png", alt="FourSquare")
      p FourSquare
    .col-3.fragment
      img(src="images/cases/twitter.png", alt="Twitter")
      p Twitter

  section.sec-slide.left

    h3 E mais...

    ul

      li.fragment The Guardian, em sua API de acesso ao repositório de mídia, com ~36mi de usuários regulares
      li.fragment Xerox, para uma solução de melhora de experiência em seu showroom no Reino Unido
      li.fragment Sony Pictures, no gerenciamento de esquemas de DBs de projetos internos

  section.sec-slide(data-background="#2c3e50")

    h1.white.upper Clojure

  section.sec-slide

    .col-3.fragment
      img(src="images/cases/walmart.png", alt="Walmart")
      p Walmart
    .col-3.fragment
      img(src="images/cases/tw.png", alt="Thoughtworks")
      p Thoughtworks
    .col-3.fragment
      img(src="images/cases/atlassian.png", alt="Atlassian")
      p Atlassian

  section.sec-slide(data-background="#16a085")

    h1.white.upper Só na gringa?

  section.sec-slide(data-background="#c0392b")

    h1.white.upper Nop :)

  section.sec-slide

    img(src="images/cases/nuby-apply.png", alt="Quer trabalhar na Nubank?")
