section

  section.sec-slide(data-background="#d35400")

    h2.white.fragment First-Class Functions

  section.sec-slide(data-background="#d35400")

    h2.white.fragment High-Order Functions

  section.sec-slide(data-background="#d35400")

    h2.white.fragment Pure Functions

