section

  section.sec-slide(data-background="#d35400")

    h1.white.upper Concluindo...

  section.sec-slide(data-background="images/other/enemy.jpg")

    h1.primary.upper Inimigo do Estado?

  section.sec-slide(data-background="#d35400")

    h2.white.left <i>“Program imperatively when needed, and functionally when possible.”.</i>

    p.white.right Micheal O. Church
