section

  section.sec-slide.text-left
    h3 Eu sou...
    ul
      li.fragment Full Stack Developer
      li.fragment Apaixonado por tecnologia
      li.fragment Contribuidor Mozilla
      li.fragment Evangelista de coisas legais

  section.sec-slide

    h2 Vocês podem me achar...

    .col-3.fragment
      img(src="img/social/gh.png", alt="Meu Github")
      p /IanRamosC
    .col-3.fragment
      img(src="img/social/twitter.png", alt="Meu Twitter")
      p @ianramosc
    .col-3.fragment
      img(src="img/social/blog.png", alt="Meu Site")
      p akaian.com
