section

  section.sec-slide(data-background="#d35400")

    h2.white.upper O paradigma
    h1.white.upper Funcional

  section.sec-slide(data-background="#c0392b")

    h1.white.upper.left Mas antes...

  section.sec-slide(data-background="#c0392b")

    h1.white.upper.left Estado?

  section.sec-slide(data-background="#f39c12")

    h3.white.left <i>“The functional programmer sounds rather like a medieval monk, denying himselfthe pleasures of life in the hope that it will make him virtuous.”.</i>

    p.white.right John Hughes

    p.white.fragment (Ju Gonçalves - Reduce seu novo melhor amigo)

  section.sec-slide(data-background="#f39c12")

    h3.white.left <i>“Em ciência da computação, programação funcional é um paradigma de programação que trata a computação como uma avaliação de funções matemáticas e que evita estados ou dados mutáveis.</i>

    p.white.right Wikipedia

  section.sec-slide.left

    h3 Funcional é sobre...

    p.fragment ✔ Pensar em quais informações eu quero e que transformações são necessárias para alcançá-las
    p.fragment ✘ Como executar tarefas (algoritmos)

  section.sec-slide.left

    h3 Funcional é sobre...

    p.fragment ✔ Evitar ao máximo mudanças de estado
    p.fragment ✘ Promover e acompanhar mudanças de estado

  section.sec-slide.left

    h3 Funcional é sobre...

    p.fragment ✔ Não ter de se preocupar com a ordem das execuções*
    p.fragment ✘ A ordem importa <i>muito</i>

    p.fragment *em geral

  section.sec-slide.left

    h3 Funcional é sobre...

    p.fragment ✔ Pensar em fluxo baseado em chamadas de funções
    p.fragment ✘ Loops, condicionais, métodos...

  section.sec-slide.left

    h3 Funcional é sobre...

    p.fragment ✔ Ter funções como unidade primária
    p.fragment ✘ Instâncias de classes, estruturas...

  section.sec-slide.left

    h3 Funcional é sobre...

    p.fragment ✔ Ter Funções de Alta de Ordem
    p.fragment ✘ Heranças

  section.sec-slide.left

    h3 Funcional é sobre...

    p.fragment ✔ Composição de funções
    p.fragment ✘ Polimorfismo
