section

  section.sec-slide(data-background="#d35400")

    h1.white.upper Começando
    h2.white.upper do
    h1.white.upper Começo

  section.sec-slide(data-background="#2c3e50")

    h1.white.upper Paradigmas

  section.sec-slide(data-background="#2c3e50")

    h1.white Imperativas
    hr
    h1.white Declarativas

  section.sec-slide.left
    h3 Imperativas
    ul
      li.fragment Expressam uma lista de instruções para o programa.
      li.fragment Estruturada, OOP...
      li.fragment C, C++, Objective-C, Java, C#, Pascal, PHP, Ruby, Python, Perl, JavaScript, Lua, Fortran, Cobol, Smalltalk, Self...

  section.sec-slide.left
    h3 Declarativas
    ul
      li.fragment Não descrevem <i>como</i> fazer algo, e sim <i>o quê</i> deve ser feito.
      li.fragment Lógicas, Funcionais...
      li.fragment Prolog, Common Lisp, Scheme, Dylan, Clojure, Scala, F#, OCaml, SML, Haskell, Erlang...
