section

  section.sec-slide(data-background="#d35400")

    h1.white.upper Por
    h2.white.upper onde
    h1.white.upper Começo?

  section.sec-slide(data-background="#2c3e50")

    h3.white.upper.left Pense
    h1.white.upper.left Funcional*
    h3.white.upper.left !!!

    p.left.white *Declarativamente

  section.sec-slide

    img(src="images/other/post-bolo-diferente.png", alt="Bolo Diferente")

    p http://goo.gl/yJqEQL

  section.sec-slide(data-background="images/other/compras.jpg")

    h1.orange.upper Vamos
    h2.orange.upper ao
    h1.orange.upper supermercado?

  section.sec-slide.left

    p.fragment ✔ Início
    p.fragment ✔ Vestir roupa x
    p.fragment ...
    p.fragment ✔ Guardar um array de y chaves no bolso.
    p.fragment ✔ Ir para a garagem.
    p.fragment ✔ Abrir a garagem.
    p.fragment ✔ Entrar no carro.
    p.fragment ...
    p.fragment ✔ Colocar leite na geladeira.
    p.fragment ✔ Fim

  section.sec-slide(data-background="#2c3e50")

    h1.white.upper.left E se...

  section.sec-slide.left

    ul
      li.fragment O leite é uma bebida saudável - e devemos tomar coisas saudáveis.
      li.fragment Normalmente, guarda-se leite na geladeira.
      li.fragment Uma geladeira é um dispositivo que mantém coisas refrigeradas.
      li.fragment Lojas são lugares onde os coisas são vendidas.
      li.fragment Venda é o processo de troca de coisas por dinheiro.
      li.fragment Compra é o inverso de venda.
      li.fragment ...
      li.fragment Deve-se ter certeza de que há sempre leite na geladeira.

  section.sec-slide(data-background="#2c3e50")

    h3.white.upper.left Pratique
    h1.white.upper.left Funcional
    h3.white.upper.left na sua
    h1.white.upper.left Linguagem

  section.sec-slide.left

    p.fragment ✔ Bibliotecas
    p.fragment ✔ Pré-processadores/Compiladores
    p.fragment ✔ Implementações nativas
    p.fragment ...

  section.sec-slide(data-background="#2c3e50")

    h3.white.upper.left Aprenda
    h1.white.upper.left Linguagens *Puristas*

  section.sec-slide

    img(src="images/other/haskell-book-cover.png", alt="Haskell para crianças", width="45%")

    p http://goo.gl/zml56a

  section.sec-slide.left

    p.fragment ✔ Livros
    p.fragment ✔ Artigos
    p.fragment ✔ Blogs
    p.fragment ✔ Projetos
    p.fragment ...
