section

  section.sec-slide(data-background="#d35400")

    h1.white.upper Vamos falar
    h2.white.upper de
    h1.white.upper Problemas?

  section.sec-slide.left
    ul
      li.fragment Escalabilidade
      li.fragment Reuso de código
      li.fragment Escalabilidade
      li.fragment Paralelização/Concorrência
      li.fragment Escalabilidade
      li.fragment Manutenibilidade
      li.fragment E...
      li.fragment Escalabilidade
