section

  section.sec-slide(data-background="#d35400")

    h2.white.fragment Tamanho do código

  section.sec-slide(data-background="#d35400")

    h2.white.fragment Paralelização

  section.sec-slide(data-background="#d35400")

    h2.white.fragment Reuso

