section

  section.sec-slide(data-background="#2c3e50")

    h3.white.upper.left E cadê
    h1.white.upper.left Funcional
    h3.white.upper.left ???

  section.sec-slide(data-background="#d35400")

    h2.white.fragment Tamanho do código

  section.sec-slide(data-background="#d35400")

    h2.white.fragment Paralelização

  section.sec-slide(data-background="#d35400")

    h2.white.fragment Reuso

