section

  section.sec-slide(data-background="#d35400")

    h1.white Um pouco de história...

  section.sec-slide(data-background="#d35400")

    h2.white <i>A segunda linguagem criada era funcional e apareceu por volta da década de 50.</i>

  section.sec-slide(data-background="images/gifs/strange.gif")

    h2.primary.fragment Por que então as pessoas estão empolgadas com isso apenas agora?

  section.sec-slide(data-background="images/gifs/backing.gif")

    h1.primary Voltando no tempo...

  section.sec-slide(data-background="images/history/ordvac.jpg")

    h2.primary Os computadores eram muito lentos...

  section.sec-slide(data-background="images/history/edvac.jpg")

    h2.primary ... e não tinham tanto poder de processamento para executar os programas funcionais.

  section.sec-slide(data-background="#d35400")

    h1.white Além disso...

  section.sec-slide(data-background="images/history/war.jpg")

    h1.primary O fator histórico
