doctype html
html
  include inc/head
  body
    .reveal
      .slides
        include ../slides/inicio
        include ../slides/site-slides
        include ../slides/matheus
        include ../slides/ian
        include ../slides/agenda
        include ../slides/chamada
        include ../slides/voltando-no-tempo

        include ../slides/perguntas
        include ../slides/bye
    include inc/scripts
